
:root {
    font-family: "Poetsen One", sans-serif;
}
.h4 {
    margin-left: 20px;
    opacity: 30%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    height: 470px;
    width: 870px;
    border: 3px solid #003249;
}

.button {
    height: 56px;
    width: 870px;
    margin-bottom: 20px;
    border: 3px solid #003249;
}